<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <contextName>logback</contextName>


    <property name="log.path" value="logback.log" />
    <property name="error_log.path" value="error_logback.log" />

    <!--控制台日志信息-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] |-%-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--INFO级别的日志文件信息-->
<!--
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            &lt;!&ndash; 每天一归档 &ndash;&gt;
            <fileNamePattern>sbd-logback-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            &lt;!&ndash; 单个日志文件最多 100MB, 60天的日志周期，最大不能超过20GB &ndash;&gt;
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
-->

    <!--ERROR级别的日志文件信息-->
<!--
    <appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${error_log.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            &lt;!&ndash; 每天一归档 &ndash;&gt;
            <fileNamePattern>sbd-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            &lt;!&ndash; 单个日志文件最多 100MB, 60天的日志周期，最大不能超过20GB &ndash;&gt;
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
-->


    <root level="info">
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
        <!--<appender-ref ref="error_log" />-->
    </root>

    <logger name="org.springframework" level="info" />
    <logger name="com.ztesoft.dispatcher" level="trace"/>
    <logger name="org.apache.tomcat" level="info"/>
    <logger name="org.apache.tomcat.util" level="error"/>
    <logger name="com.ztesoft.dispatcher.common.security.shiro.session" level="info"/>
</configuration>